absl-py==2.1.0
aiobotocore
aiohttp
aioitertools
aiosignal
altair
anyio
appdirs==1.4.4
argon2-cffi
async-lru
attrs
bayesian-optimization==1.5.1
bcrypt
beautifulsoup4
black
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
cryptography
cycler
cytoolz
dask
decorator
distributed
entrypoints
fastjsonschema
filelock
Flask
frozenlist
gast==0.6.0
gensim
google-api-core==2.19.1
google-api-python-client==2.135.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
h5py==3.11.0
HeapDict
httplib2==0.22.0
httpx
idna
imbalanced-learn
ipykernel
ipython
ipywidgets
itsdangerous
Jinja2
joblib
jsonschema
kiwisolver
lxml
Markdown
matplotlib
missingno==0.5.2
ml-dtypes==0.4.0
msgpack
multidict
munkres==1.1.4
networkx
nltk
numba
numexpr
numpy
openpyxl
packaging
pandas
pandas-ta==0.3.14b0
Pillow
plotly
pluggy
psutil
pyarrow
pycodestyle
pycparser
Pygments
PyJWT
pylint
pyparsing
pyrsistent
python-dateutil
python-dotenv
pytz
pyzmq
requests
rsa==4.9
scikit-learn
scipy
seaborn
six
sniffio
soupsieve
SQLAlchemy
tenacity
termcolor==2.4.0
tifffile
toml
toolz
tornado
tqdm
traitlets
typing-extensions
urllib3
Werkzeug
wrapt
zipp
zstandard
